<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% extends 'base.html' %}

        {% block content %}
        <h1>{{ header }}</h1>
        <p>Welcome to blackjack trainer 1.0</p>
        <p>This application will help you learn the basic stratergy and how to count cards</p>
        <p>In the Game tab you can start to improve your skills and start playing</p>
        <p>In the Stats tab you can see what is your succed ratio and where you need to improve</p>
        <p>Have fun! and never froget the count!</p>
        {% endblock %}
    </body>
</html>